/* styles.css */
body {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #e0f7fa;
  font-family: Arial, sans-serif;
}

#gameContainer {
  position: relative;
  width: 600px;
  height: 400px;
  border: 2px solid #00796b;
  background-color: #fff8e1;
  overflow: hidden;
}

#player {
  position: absolute;
  width: 50px;
  height: 50px;
  background: url('mahabali.png') no-repeat center center;
  background-size: contain;
  top: 90%;
  left: 45%;
}

#item {
  position: absolute;
  width: 30px;
  height: 30px;
  background: url('item.png') no-repeat center center;
  background-size: contain;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.obstacle {
  position: absolute;
  width: 30px;
  height: 30px;
  background-color: #d32f2f;
}

#score {
  position: absolute;
  top: 10px;
  left: 10px;
  font-size: 18px;
  color: #00796b;
}
